* {
  box-sizing: border-box;
  padding: .25em;
  margin: .25em;
}

body {
  margin: 0;
  padding: 5%;
  background: goldenrod;
  font-family: sans-serif;
}

li {
  list-style-type: none;
  background-color: red;
}

label {
  background-color: lightblue;
  width: 100%;
}

input[type=radio]:checked {
 display: none;
 background: purple;
}

// input[type=checkbox] + label {
//   color: #ccc;
//   font-style: italic;
// }
// input[type=checkbox]:checked + label {
//   color: #f00;
//   font-style: normal;
// }
